<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjsoftware.qrbarcodecouponscanner">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hjsoftware.qrbarcodecouponscanner.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hjsoftware.qrbarcodecouponscanner.activity.BarcodeActivity" />
        <activity android:name="com.hjsoftware.qrbarcodecouponscanner.activity.HomeActivity" />
        <activity android:name="com.hjsoftware.qrbarcodecouponscanner.activity.CouponHistoryActivity" />
        <activity android:name="com.hjsoftware.qrbarcodecouponscanner.activity.OTPActivity"/>
    </application>

</manifest>